body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

ul#rares-menu label {
	padding-left: 26px;
}

#refreshChars li, #refreshTabs li, #craftingIgnoreChars li, #craftingIgnoreTabs li {
	float: left;
	width: 125px;
}


/* custom */
.popover-inner {
	width: auto !important;
}

.popover {
	margin-left: 100px;
}

.popover-inner pre {
	/*width: 360px; */
}

/*
.popover-content {
	background: #333 !important;	
}
*/

.itemPopupContainer {
	max-width: 650px;
}