body {
	padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}

ul#rares-menu label {
	padding-left: 26px;
}

#refreshChars li, #refreshTabs li, #craftingIgnoreChars li, #craftingIgnoreTabs li {
	float: left;
	width: 125px;
}


/* custom */
.fit-content {
	width: auto !important;
}

.popover {
	max-width: 800px;
}


.popover pre {
  text-shadow: none;
  background-color: #5c5c5c;
  color: #fff;
  border: 1px solid #1c1e22;
  max-width:550px;
}


.popover-inner pre {
	/*width: 360px; */
}


.locationTable {
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	display:table;
}

.locationTableRow {
	display:table-row;
}

.locationTableCell {
	display:table-cell;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	padding:2px;
}

.containsItem {
	background-color:red !important;
}

.tablesorter-stickyHeader {
	padding-top: 40px;
}